In [1]:
import numpy as np
import pandas as pd
import regex as re
import matplotlib.pyplot as plt

In [2]:
def import_text(dir1,dir2,pref1,pref2):
    import os
    import glob
    
    paths=[dir1,dir2]
    prefx= [pref1,pref2] 
    source_data=pd.DataFrame(columns=['Name','Descriptions'])    
       
    for i in range(len(paths)):
        os.chdir(paths[i])
        name = []
        descriptions = []
        
        for file in glob.glob('*.txt'):
            name.append(file)
            descriptions.append(open(file, encoding ="utf8").read()) 
            
        Data = pd.DataFrame(
            {     'Name': name,
                     'Descriptions': descriptions
                })       

        Data['Name']= prefx[i]+((Data.index +1).astype(str))
        
        source_data=source_data.append(Data, ignore_index=True)
    return source_data

def calc_word_freq(source_data):
    from nltk.tokenize import word_tokenize,sent_tokenize

    source_data_Columns=np.array(source_data['Name'])
    word_freq=pd.DataFrame(columns=['Elements'])

    for i in range(len(source_data)):
        A=np.sort(word_tokenize(source_data['Descriptions'][i]))          
        B=np.unique(A,return_counts = True)
        df= pd.DataFrame({'Elements':B[0] ,source_data_Columns[i]:B[1] })
        word_freq=pd.merge(word_freq,df,on='Elements', how='outer')
        #word_freq.set_index("Elements", inplace = True) 
    return word_freq

In [3]:
path1="C:/Users/Mahesh/Mahesh Google/Data Science Projects/NPL Sample 1/data/Covid/Set1"
path2="C:/Users/Mahesh/Mahesh Google/Data Science Projects/NPL Sample 1/data/Non Covid/Set1"
prefx1="covid"
prefx2="noncovid"

d1=import_text(path1,path2,prefx1,prefx2)
#d1=replace_symbols(d1)
d1=calc_word_freq(d1).replace(np.nan, 0)

In [4]:
d1.head()

,Elements,covid1,covid2,covid3,covid4,covid5,covid6,covid7,covid8,covid9,noncovid1,noncovid2,noncovid3,noncovid4,noncovid5
0,(,1.0,2.0,2.0,1.0,0.0,1.0,3.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
1,),1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,",",1.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,9.0,0.0,1.0,4.0,6.0,51.0
3,.,12.0,15.0,17.0,16.0,4.0,18.0,8.0,5.0,31.0,5.0,82.0,99.0,56.0,110.0
4,19,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0

In [5]:
a=d1.values.T
b=d1.columns.values

In [7]:
#Input [[dummy, token 1, token 2, token 3, ], [article name, token 1 freq, token 2 freq, ....],[],.....]
d=[]

for i in range(len(b)-1): 
    x=  np.append(b[i],a[i])
    d.append(x)
x=np.asarray(d)
x

array([['Elements', '(', ')', ..., 'ළඟාවිය', 'ළපටි', '\ufeffපෘතුගීසි'],
       ['covid1', 1.0, 1.0, ..., 0.0, 0.0, 0.0],
       ['covid2', 2.0, 2.0, ..., 0.0, 0.0, 0.0],
       ...,
       ['noncovid2', 0.0, 0.0, ..., 0.0, 0.0, 0.0],
       ['noncovid3', 1.0, 1.0, ..., 0.0, 0.0, 0.0],
       ['noncovid4', 1.0, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)

In [12]:
x[np.max(x[:,1][1:])>1]

array([[['Elements', '(', ')', ..., 'ළඟාවිය', 'ළපටි', '\ufeffපෘතුගීසි'],
        ['covid1', 1.0, 1.0, ..., 0.0, 0.0, 0.0],
        ['covid2', 2.0, 2.0, ..., 0.0, 0.0, 0.0],
        ...,
        ['noncovid2', 0.0, 0.0, ..., 0.0, 0.0, 0.0],
        ['noncovid3', 1.0, 1.0, ..., 0.0, 0.0, 0.0],
        ['noncovid4', 1.0, 0.0, ..., 0.0, 0.0, 0.0]]], dtype=object)

In [ ]:
                
#Drop tokens if maximum token frequency less than
    def drop_arti_low_freq_tokens(x, n):
                 #Input [[dummy, token 1, token 2, token 3, ], [article name, token 1 freq, token 2 freq, ....],[],.....]
                 #Output the same array except drop the words with letters less than n
                
                
                
        return Output